.modal {
  display: flex !important;
  visibility: hidden;

  .modal-background {
    opacity: 0;
    transition: 0.3s ease-out;
  }

  .modal-card {
    transition: 0.5s ease-out !important;
    text-align: center;
    border-radius: 1.5rem;

    opacity: 0 !important;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.6));
    transform: translateY(0) !important;

    .image {
      margin: auto;
      z-index: 10;
      color: var(--foreground-primary);
      transition: 0.9s cubic-bezier(0.46, 1.42, 0.61, 1.03);

      transform: translateY(85%) scale(0.5);
      opacity: 0;
    }

    .modal-card-head {
      background-color: var(--background-primary);
      color: var(--foreground-primary);
      border: none;
      padding: 4rem 2rem 1rem 2rem;
      border-radius: 1.5rem 1.5rem 0 0;
      box-shadow: none;

      .modal-card-title {
        color: var(--foreground-primary);
        font-size: 4rem;
      }

      .delete {
        color: var(--foreground-primary);
        margin-bottom: auto;
      }
    }

    .modal-card-body {
      background-color: var(--background-primary);
      color: var(--foreground-primary);
      font-size: 1.25rem;
    }

    .modal-card-foot {
      background-color: var(--background-primary);
      color: var(--foreground-primary);
      border: none;

      .button {
        width: 75%;
        margin: auto;

        &:hover,
        &:focus {
          transform: scale(1.1) !important;
          box-shadow: -0.5rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .modal-close {
    color: var(--foreground-primary);
  }

  &.is-active {
    visibility: visible;

    .modal-background {
      opacity: 0.5;
    }

    .modal-card {
      opacity: 1 !important;
      transform: translateY(-15%) !important;
      filter: drop-shadow(-0.6rem 1.2rem 0rem rgba(0, 0, 0, 0.4));

      .image {
        transform: translateY(50%) scale(1);
        opacity: 1;
      }
    }
  }
}
