/* Intro banner slide effects */
@keyframes banner1-slide {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}
	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 21.5rem);
	}
}

@keyframes banner2-slide {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}
	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 10rem);
	}
}

@keyframes banner3-slide {
	0% {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	100% {
		clip-path: polygon(0 100%, 100% 1rem, 100% 0, 0 0);
	}
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--accent);
	}
}

@keyframes view-more {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

[data-aos="lengthen"] {
	clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
	transition-property: clip-path;
	&.aos-animate {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
