// Override bulma-defined variables before importing it
$input-border-color: var(--background-secondary);
$input-hover-border-color: var(--background-secondary);
$input-focus-border-color: var(--accent);

@import "bulma";

@import "./variables";
@import "./animations";
@import "./slanted-section";
@import "./overrides";
@import "./flickity";
@import "./scrollbar";

@import "~bulma-switch";

@import "../components/Navbar/navbar";
@import "../components/Introduction/introduction";
@import "../components/About/about";
@import "../components/SkillsInterests/skillsInterests";
@import "../components/Projects/projects";
@import "../components/Artwork/artwork";
@import "../components/Contact/contact";
@import "../components/Footer/footer";
