@import "bulma";

@import "./animations";
@import "./overrides";
@import "./variables";

@import "~bulma-switch";

#root {
	#introduction {
		background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65)),
			url("../images/LPUP_Screenshot.png");
		background-position: 0% 70%;

		position: relative;

		.hero-body {
			margin: auto;

			.title {
				font-size: 3.5rem;
			}

			.view-more {
				animation-name: view-more;
				animation-duration: 1s;
				animation-fill-mode: backwards;
				animation-delay: 4s;
				animation-timing-function: ease-out;
			}
		}

		.banner1 {
			position: absolute;
			bottom: 0;
			left: 0;

			background-color: var(--background-primary);
			padding: 25.2rem 100% 0 0;
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 21.5rem);

			animation-name: banner1-slide;
			animation-duration: var(--intro-slide-anim-dur);
		}

		.banner2 {
			background-color: var(--background-secondary);
			padding: 14rem 0 0rem 0;
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 10rem);

			animation-name: banner2-slide;
			animation-duration: var(--intro-slide-anim-dur);
		}

		.scroll {
			position: fixed;
			z-index: 10;
			bottom: 1rem;
			left: 50%;

			opacity: 0;
			transition: 0.6s ease-in-out;

			img {
				height: 3.5rem;
				width: auto;
				margin-left: -50%;
			}
		}

		.active {
			opacity: 1;
			transition: 0.6s ease-in-out;
			transition-delay: 5s;
		}
	}

	#about {
		.about-container {
			background-color: var(--background-secondary);
			position: relative;
		}

		.description {
			color: var(--foreground-primary);
			font-size: 18px;
			font-weight: normal;
		}

		.shadow-wrapper {
			clip-path: inset(0.5rem 0 -5rem 0);

			.banner3 {
				background-color: var(--background-secondary);
				clip-path: polygon(0 100%, 100% 1rem, 100% 0, 0 0);
				padding: 10rem 0 0 0;

				animation-name: banner3-slide;
				animation-duration: var(--intro-slide-anim-dur);
			}
		}
	}

	#projects {
		padding-right: 0 !important;
		padding-left: 0 !important;

		.not-fading {
			transition: 0.25s ease-out !important;
		}
	}

	#artwork {
		background-color: var(--background-secondary);
		box-shadow: 0rem 0rem 1rem rgb(0, 0, 0, 0.25);
	}
}
