// Override bulma-defined variables before importing it
$input-border-color: var(--background-secondary);
$input-hover-border-color: var(--background-secondary);
$input-focus-border-color: var(--accent);

@import "bulma";
@import "~bulma-switch";

@import "./base/variables";
@import "./base/base";
@import "./base/fonts";
@import "./base/overrides";
@import "./base/mixins";
@import "./base/animations";

@import "./vendors/flickity";

@import "./layout/slanted-section";
@import "./layout/scrollbar";
@import "./layout/modal";

@import "../components/Navbar/navbar";
@import "../components/Introduction/introduction";
@import "../components/About/about";
@import "../components/SkillsInterests/skillsInterests";
@import "../components/Projects/projects";
@import "../components/Artwork/artwork";
@import "../components/Contact/contact";
@import "../components/Footer/footer";
