@import "./variables";

.app {
	background-color: var(--background-primary) !important;
	color: var(--foreground-primary) !important;
}

// HTML overrides
a {
	color: var(--accent);
	transition: 0.3s ease-in-out;

	&:hover,
	&:focus {
		color: var(--accent) !important;
	}
}

footer {
	background-color: var(--background-primary);
	padding: 2rem !important;

	p {
		font-size: 16px;
	}
}

// Bulma overrides
.title {
	color: var(--foreground-primary);
	text-align: center;
}

.subtitle {
	color: var(--foreground-secondary);
	text-align: center;
}

.navbar {
	background-color: var(--background-primary);

	.navbar-brand,
	.navbar-menu,
	.navbar-item {
		margin: 12px 8px;
		color: var(--foreground-primary);
		background-color: var(--background-primary);
	}

	.navbar-start,
	.navbar-center,
	.navbar-end {
		.navbar-item {
			background: none;
			margin: 0px 12px;
			border-bottom: 3px solid transparent;

			transition: 0.3s ease-in-out;

			&:hover,
			&:focus {
				color: var(--foreground-primary);
				border-color: var(--accent);
			}
		}

		.is-icon {
			margin: 0px 4px !important;

			.is-hidden-desktop {
				margin: 0px 8px !important;
			}
		}
	}

	.navbar-burger {
		color: var(--foreground-primary);
	}
}
