@import "./variables";

.app {
	background-color: var(--background-primary) !important;
	color: var(--foreground-primary) !important;
}

// HTML overrides
p > a {
	display: inline-block;
	position: relative;
	padding: 0 !important; // Remove the automatically added space before/after anchor tags
	color: var(--accent-alt) !important;
	transition: 0.5s ease-out;

	&:hover,
	&:focus,
	&:active {
		color: var(--accent-alt);

		&:after {
			width: 100%;
		}
	}

	&:after {
		content: "";
		display: block;
		width: 0;
		height: 1px;
		position: relative;
		bottom: 0.25em;
		background-color: var(--accent);
		transition: 0.3s ease-out;
	}
}

@mixin fade-ends($fade-color) {
	background: -webkit-gradient(
		linear,
		0 0,
		100% 0,
		from($fade-color),
		to($fade-color),
		color-stop(50%, var(--background-secondary-alt))
	);
}

hr {
	height: 3px;

	&.primary {
		@include fade-ends(var(--background-primary));
	}
	&.secondary {
		@include fade-ends(var(--background-secondary));
	}
}

footer {
	background-color: var(--background-primary);
	padding: 2rem !important;

	p {
		font-size: 16px;
	}
}

// Bulma overrides
.title {
	color: var(--foreground-primary);
	font-size: 36px;
	padding-bottom: 1rem;
	width: fit-content;
	margin: auto;
}

.subtitle {
	color: var(--foreground-secondary);
	text-align: center;
}

.button {
	color: var(--foreground-primary) !important;
	background-color: transparent !important;
	border: 2px solid var(--background-secondary-alt) !important;
	margin: 3rem 0 0 0 !important;

	transition: all 0.3s ease-out;
	backface-visibility: hidden;

	&:hover {
		border-color: var(--accent) !important;
		color: var(--accent) !important;
		transform: scale(1.1);
	}

	span {
		padding-left: 0.5rem;
	}
}

.card {
	color: var(--foreground-primary);
	background-color: var(--background-secondary);
	border-radius: 10px;
	margin: 1rem 0.5rem;
	backface-visibility: hidden;

	@include breakpoint(extra_small_devices) {
		width: 340px !important;
	}

	&:hover,
	&:focus {
		box-shadow: 0rem 0.3rem 1rem rgb(0, 0, 0, 0.5) !important;
		transform: scale(1.075) !important;
		z-index: 1;

		.card-image {
			transform: scale(1.05);
		}
	}

	&.disabled {
		cursor: default;

		&:active {
			pointer-events: none;
		}

		&:focus {
			.go-to {
				animation-name: broken-link;
				animation-duration: 0.9s;
				animation-timing-function: ease-in-out;
			}
		}
	}

	.card-content {
		display: flex;
		flex-direction: column;
		height: 100%;
		//padding: 0;

		.image-wrapper {
			display: inline-block;
			overflow: hidden;
			margin: -2.25rem -2.25rem 0.5rem -2.25rem;
			width: calc(100% + 4.5rem);
			clip-path: polygon(
				0 0,
				100% 0,
				100% 200%,
				0% 200%
			); // So the drop shadow doesn't bleed out the sides
			filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.6));

			.card-image {
				width: 100%;
				height: 12rem;
				margin: 0;
				border-radius: 10px 10px 0 0;
				object-fit: cover;
				clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
				transition: 0.6s ease-out;
			}
		}

		.image {
			margin-bottom: 0.5rem;
			color: var(--foreground-secondary);

			&.go-to {
				position: absolute;
				top: 1.5rem;
				right: 1.5rem;
				z-index: 10;

				transition: ease-out 0.2s;

				color: lightgrey;
				filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.5));

				&.inverted {
					color: grey;
					filter: drop-shadow(0 0 0.15rem rgba(255, 255, 255, 0.5));
				}

				&.active {
					color: var(--foreground-secondary);

					&.inverted {
						color: var(--background-secondary);
						$shadow_col: rgb(0, 0, 0, 1.4);
					}

					&:hover,
					&:focus {
						color: var(--accent) !important;
					}
				}
			}
		}

		.proj-title {
			color: var(--foreground-primary);
			text-decoration-color: var(--accent) !important;

			font-weight: bold;
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		.proj-description {
			color: var(--foreground-secondary);
			font-size: 1rem;
		}

		.proj-tech {
			flex: 1;
			display: flex;
			flex-direction: row;

			margin-top: 1.5rem;

			p {
				align-self: flex-end;

				color: var(--foreground-secondary);
				background-color: var(--background-secondary-alt);

				font-size: 0.75rem;
				width: fit-content;
				border-radius: 5px;
				margin-right: 0.3rem;
				padding: 0.4rem;
			}
		}

		.wip {
			position: absolute;
			color: var(--foreground-primary);
			background-color: orange;
			font-weight: bold;
			padding: 0.5rem;
			font-size: 0.8rem;
			border-radius: 12px;
			top: 1rem;
			left: 1rem;
			z-index: 10;
		}
	}
}

.navbar {
	position: fixed;
	background-color: transparent;

	transition: ease-out 0.5s;

	&.at-top {
		padding: 1rem 0.75rem;
	}

	&.scrolling-up {
		padding: 0.2rem 0.75rem;
		box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(10px);
		background-color: var(--background-primary);
	}

	&.scrolling-down {
		transform: translateY(-100%);
		padding: 0.2rem 0.75rem;
	}

	.navbar-start,
	.navbar-center,
	.navbar-end {
		.navbar-item {
			color: var(--foreground-primary);

			background: none;
			margin: 0px 12px;
			border-bottom: 3px solid transparent;

			transition: ease-in-out 0.3s;

			&::after {
				content: "";
				position: absolute;
				width: 0%;
				height: 3px;
				left: 50%;
				bottom: 5%;

				background-color: var(--accent);
				transition: ease-out 0.3s;
			}

			&:hover::after {
				width: 100%;
				left: 0;
			}
		}
	}

	.navbar-brand {
		.is-icon {
			transition: 0.3s ease-out;
			border-radius: 50%;

			&:hover,
			&:focus {
				transform: translateX(0.4rem);
			}
		}
	}

	.navbar-burger {
		color: var(--foreground-primary);
	}
}
