@import "./animations";

:root {
	--accent: #4576b7;
	--accent-semitransparent: #4576b776;
	--accent-alt: #6ea5ec;

	--background-primary: #1b262e;
	--background-secondary: #2c3a49;
	--background-secondary-alt: #697684;
	--background-primary-shadow: #13191e;

	--foreground-primary: #ececec;
	--foreground-secondary: #d1d1d1;
	--foreground-inverted: #2c2c2c;

	--intro-slide-anim-dur: 2s;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.2em solid var(--accent); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */

	animation: typing 2.4s steps(40, end), blink-caret 0.75s infinite;
	animation-delay: 1.3s;
	animation-fill-mode: backwards;
}

.accent {
	font-weight: bold;
	color: var(--accent);
}

.not-fading-button {
	transition: 0.25s ease-out !important;
	transition-delay: 0 !important;
}

a.social {
	display: inline-block;
	padding: 0px 0.4rem;
	color: var(--foreground-primary);

	.icon {
		width: 1.8rem;
		height: auto;
		transition: 0.15s ease-out;
	}

	&:hover,
	&:focus {
		.icon {
			transform: translateY(-0.5rem);
			color: var(--accent);
		}
	}
}
