:root {
	// Initialize CSS variables
	--accent: #4576b7;
	--accent-semitransparent: #4576b776;
	--accent-alt: #6ea5ec;

	--background-primary: #1b262e;
	--background-secondary: #2c3a49;
	--background-secondary-alt: #697684;
	--background-primary-shadow: #13191e;

	--foreground-primary: #ececec;
	--foreground-secondary: #cbcbcb;
	--foreground-inverted: #2c2c2c;

	--intro-slide-anim-dur: 2s;

	--banner1-height: 20.5rem;
	--banner2-height: 9rem;
}

// Override bulma-defined variables before importing it
$input-hover-border-color: transparent;
$input-focus-border-color: var(--accent);

@import "bulma";
@import "./animations";

:root {
	@include mobile {
		--banner1-height: 10.75rem !important;
		--banner2-height: 5rem !important;
	}
}

.typewriter {
	$breakpoint: 620px;

	@include from($breakpoint) {
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 0.1em solid var(--accent); /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */

		animation: typing 2.4s steps(40, end), blink-caret 0.75s infinite;
		animation-fill-mode: backwards;
		animation-delay: 1.3s;
	}

	@include until($breakpoint) {
		animation: view-more 2.4s;
		animation-fill-mode: backwards;
		animation-delay: 1s;
	}
}

.accent {
	font-weight: bold;
	color: var(--accent);
}

.not-fading-button {
	transition: 0.25s ease-out !important;
	transition-delay: 0 !important;
}

a.social {
	display: inline-block;
	padding: 0rem 0.4rem 1rem 0.4rem;
	color: var(--foreground-primary);

	.icon {
		width: 1.8rem;
		height: auto;
		transition: 0.15s ease-out;
	}
}

.icon-parent {
	color: var(--foreground-primary);

	.icon {
		transition: 0.2s all ease-out;
	}

	&:hover,
	&:focus {
		.icon {
			transform: translateY(-0.3rem);
			color: var(--accent);
		}
	}
}
