#footer {
  .content {
    //position: relative;

    .heart {
      color: rgb(239, 118, 138);
      font-weight: 700;
      padding: 0 0.2rem;
    }

    hr {
      margin-bottom: 3rem;
    }

    .columns {
      p {
        display: inline-block;
      }

      .links {
        text-align: right;
        display: inline-block;
        align-self: flex-end;
        display: flex;
        justify-content: center;
      }
    }

    .copyright {
      margin-top: 1.25rem;
      font-size: 0.95rem;
    }
  }
}
